.mainContainer {
  min-height: 100vh;
  background-color: teal;
  color: antiquewhite;
  padding: 28px;
}

.random {
  font-size: 36px;
  font-weight: 100;
}

.change {
  all: unset;
  padding: 12px;
  border: 2px solid palevioletred;
  border-radius: 12px;
  background-color: aquamarine;
  color: rgb(182, 131, 2);
}

.change:active {
  filter: brightness(70%);
}